<div class="dashboard">
    <h2>Dashboard</h2>
    <button id="newPostBtn">New Post</button>
</div>
{{!-- TODO: Research about Handlebars helpers, and how I can use them effectively for each post being added --}}