<div class="box">
    <h2>Login</h2>

    <h3>Username</h3>
    <input type="text" id="username-login">

    <h3>Password</h3>
    <input type="text" id="password-login">

    <button id="loginBtn">Log In</button>

    <h4 id="goSignUp">Sign Up Instead</h3>
</div>