<div id="login-form" class="container">
    <h2>Login</h2>

    <h3>Username</h3>
    <input type="text" id="username-login">

    <h3>Password</h3>
    <input type="text" id="password-login">

    <button id="loginBtn">Log In</button>

    <a href="/signup" id="goSignUp"> Sign Up Instead</a>
</div>