<div class="box">
    <h2>Login</h2>
    <h3>Username</h3>
    <input type="text">
    <h3>Password</h3>
    <input type="text">
    <button>Log In</button>
    <h4 id="login_to_signup">Sign Up Instead</h3>
</div>