<div class="box signup-form">
    <h2>Sign-Up</h2>

    <h3>Create a Username</h3>
    <input type="text" id="username-signup">

    <h3>Create a Password</h3>
    <input type="text" id="password-signup">

    <button type="submit">Sign Up</button>
</div>