<div class="box">
    <h2>Sign-Up</h2>
    <h3>Username</h3>
    <input type="text">
    <h3>Password</h3>
    <input type="text">
    <button>Sign Up</button>
    <h4 id="signup_to_login">Login Instead</h3>
</div>