/* MAIN */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    background: #eee;
    padding: 20px;
}

.logo {
    display: flex;
    align-self: flex-start;
}

.logo:hover {
    color: white;
    cursor: pointer;
}

.category {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
}

.category li {
    margin-left: 10px;
}

li:hover {
    color: white;
    cursor: pointer;
}


/* HOMEPAGE */
.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* LOGIN & SIGN-UP */
.box {
    display: flex;
    flex-direction: column;
}

.box button {
    margin-top: 10px;
    padding: 0.5rem;

    cursor: pointer;
}

.box input {
    padding: 0.5rem;
}

h4:hover {
    color: #eee;
    cursor: pointer;
};

/* DASHBOARD */
.dashboard {
    display: flex;
    flex-direction: row;
}