/* MAIN */
/* NAV BAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    background: #eee;
    padding: 20px;
}

.logo {
    display: flex;
    align-self: center;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 2rem;
}

.logo:hover {
    cursor: pointer;
    color: black;
}

.category {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
}

.category a {
    color: black;
    margin-left: 10px;
    text-decoration: none;
}

.category a:hover {
    color: white;
    cursor: pointer;
}


/* HOMEPAGE */
.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* LOGIN & SIGN-UP */
.container {
    display: flex;
    flex-direction: column;
}

.container button {
    margin-top: 10px;
    padding: 0.5rem;

    cursor: pointer;
}

.container input {
    padding: 0.5rem;
}

#signup-form a,
#login-form a {
    margin-top: 1rem;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

#signup-form a:hover,
#login-form a:hover {
    color: #eee;
    cursor: pointer;
};

/* DASHBOARD */
.dashboard {
    display: flex;
    flex-direction: row;
}